*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}

.navBar {
    /* background-color: #00adb5; */
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
}

.site-title{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin: 1rem;
}

.navBar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navBar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: block;
    align-items: center;
    padding: .5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.logsign{
    display: inline-block;
    background-color: #FF4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

.logsign:hover{
    background-color: rgb(32, 44, 97);
}

.navBar li:hover {
    background-color: rgb(26, 33, 61);

}

nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media (max-width: 740px) {
    .navBar .menu{
        display: flex;
        cursor: pointer;
    }
    .navBar{
        flex-direction: column;
        align-items: start;
    }
    .navBar ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    .navBar ul.open{
        display: flex;
    }

    .navbar ul li{
        width: 100%;
        text-align: center;
    }

    .navBar ul li a{
        margin: 0.2rem 0.5rem;
    }

    .navBar button{
        margin: 0.2rem 0.5rem;
    }
}