.side-container{
    display: flex;
    height: 100%;
}

.main-children{
    width: 100%;
    padding: 20px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #404040;
    color: #fff;
    height: auto;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    display: flex;
    flex-direction: row;
    font-size: 10px;
}
.bars{
    display: flex;
    font-size: 25px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:#FFD700;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: #FFD700;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

.logoutButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.logoutActualButton{
    font-weight: bold;
}