* {

    margin: 0 auto;
    padding: 0 20px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    max-width: 1200px;
}
  
  .homepage {
    text-align: center;
  }
  
  .hero-section {
    padding: 100px 0;
    background-color: #f4f4f4;
  }
  
  .home-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .home-subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #666;
  }
  
  .home-subSubtitle {
    font-size: 1rem;
    color: #999;
    margin-bottom: 40px;
  }
  
  .join-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .join-button:hover {
    background-color: #0056b3;
  }
  
  .mini-quiz {
    margin-top: 50px;
  }
  
  .mini-quiz button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .mini-quiz button:hover {
    background-color: #218838;
  }
  

