@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1A1A;
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.navBar{
  background-color: #FFD700;
  color: #917800;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer {
  background-color: #FFD700;
  color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: auto;
}


/* register */

.registerpage {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registerpage h1 {
  text-align: center;
}

.registerpage form {
  display: flex;
  flex-direction: column;
}

.registerpage label {
  margin-bottom: 5px;
}
.registerpage p a {
  color: #007bff;
  text-decoration: none;
}

.registerpage input {
  color: black;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.registerpage button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registerpage button:hover {
  background-color: #0056b3;
}

/* login */

.loginpage {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginpage h1 {
  text-align: center;
}

.loginpage form {
  display: flex;
  flex-direction: column;
}

.loginpage label {
  margin-bottom: 5px;
}

.loginpage input {
  color: black;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.loginpage button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginpage button:hover {
  background-color: #0056b3;
}

.loginpage p {
  text-align: center;
  margin-top: 10px;
}

.loginpage p a {
  color: #007bff;
  text-decoration: none;
}

.loginpage p a:hover {
  text-decoration: underline;
}



/* home page */

.hero-section {
  text-align: center;
  padding: 100px 0;
  background-color: #f5f5f5;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home-subSubtitle {
  font-size: 1rem;
  margin-bottom: 30px;
}

.quiz-container {
  padding: 30px 0;
  /* Adjust padding as needed */
  background-color: #f9f9f9;
  /* Change the color to your preference */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quiz-container button:hover {
  background-color: #0056b3;
}

/* result */

.resultpage {
  text-align: center;
  padding: 50px 0;
}

.resultpage h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.resultpage p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.resultpage .join {
  margin-top: 20px;
}

.resultpage .join-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resultpage .join-button:hover {
  background-color: #0056b3;
}

