@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #FFD700;
  --primary-200: #ddb900;
  --primary-300: #917800;
  --accent-100: #FF4500;
  --accent-200: #ffe49a;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #1A1A1A;
  --bg-200: #292929;
  --bg-300: #404040;
  --link-100: #007bff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-100);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
}

.navBar {
  background-color: var(--primary-100);
  color: var(--primary-300);
}

.side-container {
  display: flex;
  height: 100%;
}

.actual-sidebar {
  display: flex;
  flex-direction: row;
}

.main-children {
  width: 100%;
  padding: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);
  color: var(--text-100);
  height: auto;
  width: 100%;
  transition: all 0.5s;
}

.bars {
  display: flex;
  font-size: 30px;
  width: 110%;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: #FFD700;
  border-radius: 2rem;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: #FFD700;
  border-radius: 1rem;
  color: #000;
}

.icon,
.link_text {
  font-size: 20px;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logoutActualButton {
  font-weight: bold;
}

/* footer */

footer {
  background-color: var(--primary-100);
  color: var(--text-100);
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.links li {
  margin: 0 10px;
}

.links a {
  text-decoration: none;
  color: #917800;
  cursor: pointer;
}

.footer-bottom {
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #917800;
  ;
}

.footer-bottom span a {
  text-transform: uppercase;
  opacity: .5;
  color: #917800;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

/* universal page title */

.page-title {
  background-color: var(--primary-100);
  color: var(--bg-100);
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
}

/* error page */

.errorPage {
  text-align: center;
  padding-top: 5rem;
  margin-inline: center;
  display: block;
  width: 100%;
  height: 100vh;
}

.errorPage h1 {
  font-size: 5rem;
  font-weight: bold;
}

.errorPage h3 {
  font-size: 3rem;
}

.errorPage a {
  text-decoration: underline;
  color: #FF4500;
}

/* dashboard */

.dashboardpage h1 {
  font-size: 40px;
  font-weight: bold;
}

/* register */

.registerpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  width: auto;
  border-radius: 8px;
}

.registerpage h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.registerpage form {
  display: flex;
  flex-direction: column;
}

.registerpage label {
  margin-bottom: 5px;
}

.registerpage p a {
  color: var(--link-100);
  text-decoration: none;
}

.registerpage input {
  color: var(--bg-100);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid var(--text-200);
}

.registerpage button {
  padding: 10px 20px;
  background-color: var(--accent-100);
  color: var(--text-100);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registerpage button:hover {
  background-color: var(--accent-100);
}

.registerpage p a:hover {
  text-decoration: underline;
}

/* login */

.loginpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  width: auto;
  border-radius: 8px;
}

.loginpage h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.loginpage form {
  display: flex;
  flex-direction: column;
}

.loginpage label {
  margin-bottom: 5px;
}

.loginpage input {
  color: var(--bg-100);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid var(--text-200);
}

.loginpage button {
  padding: 10px 20px;
  background-color: var(--accent-100);
  color: var(--text-100);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginpage button:hover {
  background-color: var(--link-100);
}

.loginpage p {
  margin-top: 10px;
}

.loginpage p a {
  color: var(--accent-100);
  text-decoration: none;
}

.loginpage p a:hover {
  text-decoration: underline;
}



/* home page */
.homepage {
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px 20px;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home-subSubtitle {
  font-size: 1rem;
  margin-bottom: 30px;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join .join-button {
  background-color: var(--accent-100);
  padding: 10px 20px;
  border-radius: 4px;
}

.quiz-container {
  display: flex;
  padding: 30px 30px;
  border-radius: 8px;
}

.quiz-container h2 {
  font-size: 20px;
}

.quiz-container button {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: var(--accent-100);
  color: var(--text-100);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 400px;
}

.quiz-container button:hover {
  background-color: var(--link-100);
}

/* result */

.resultpage {
  text-align: center;
  padding: 50px 0;
}

.resultpage h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.resultpage p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.resultpage .join {
  margin-top: 20px;
}

.resultpage .join-button {
  padding: 10px 20px;
  background-color: var(--link-100);
  color: var(--text-100);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resultpage .join-button:hover {
  background-color: var(--link-100);
}

/* forum page */

.forumPage {
  display: flex;
  flex-direction: column;
  height: auto;
}

.forumpage .pagetitle {
  font-size: 60px;
}

.forumPage .input-post {
  width: 50vw;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid var(--text-200);
}

.forumPage .postButton {
  background-color: var(--accent-100);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* posts in forum page */

.container-post {
  display: flex;
  flex-direction: column;
}

.post {
  /* in PostItem component*/
  background-color: var(--bg-300);
  padding: 1rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}

.like-comment {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* profile */

.profile-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.profile-details h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.profile-details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-details button {
  background-color: var(--accent-100);
  padding: 10px 20px;
  border-radius: 4px;
}